#teacher-about{
    display: flex;
    background-color: var(--white);
    height: 20rem;
    width: 60%;
}
.image{
    width: 50%;
    background-color: var(--color2);
    padding: 1% 3% 0 3%;
}
.image img{
    width: 100%;
    height: 100%;
}
.image-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120%;
}
.image-about div{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 0.2rem;
}
.image-about div span{
    color: var(--color2);
}
.image-about p{
    font-size: 1.2rem;
    padding: 0.25rem 0;
}
@media (max-width:860px){
    #teacher-about{
        height: 15rem;
        width: 80%;
    }
    .image-about div{
        font-size: 1.3rem;
    }
    .image-about p{
        font-size: 1rem;
        padding: 0.1rem 0;
    }
}
@media (max-width:480px){
    #teacher-about{
        height: 12rem;
        width: 90%;
    }
    .image-about{
        margin-left: 1rem;
    }
    .image-about div{
        font-size: 1.1rem;
    }
    .image-about p{
        font-size: 0.8rem;
        /* padding: 0.1rem 0; */
    }
}