*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: white;
    --black: rgb(51, 51, 51);
    --yellow: yellow;
    --color1: #5A4BDA;
    --color2: #EFDA69;
    --shadow: rgba(83, 83, 83, 0.4);
} 
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 4rem;
    padding: 0 3rem;
    background-color: var(--white);
    box-shadow: 0 1px 5px 0px var(--shadow);
}
.logo img{
    width: 12%;
}
.icons a{
    color: var(--color1);
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}
#login-button{
    background-color: var(--color1);
    color: var(--white);
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
}
.dropdown-icons{
    display: none;
    position: absolute;
    right: -50%;
    top: 4rem;
    width: 10rem;
    height: 0;
    overflow: hidden;
    background-color: var(--white);
}
.dropdown-icons.open{
    overflow: visible;
    width: 100%;
    height: auto;
    padding-left: 1rem;
    border-bottom-left-radius: 10px;
    transition: 0.8s all ease-in-out;
}
.dropdown-icons a, .dropdown-icons button{
    color: var(--color1);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    padding: 0.5rem 0;
}
#login-button-mobile{
    background-color: var(--color1);
    color: var(--white);
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    margin: 1rem 0rem;
}
#hamburger{
    display: none;
}
@media (max-width:860px){
    .navbar{
        height: 3rem;
    }
    #hamburger{
        display: block;
    }
    .icons{
        display: none;
    }
    #login-button{
        display: none;
    }
    .dropdown-icons{
        display: block;
    }
    .logo img{
        width: 12%;
    }
}
@media (max-width:500px){
    .navbar{
        height: 2.5rem;
    }
    #hamburger{
        display: block;
    }
    .icons{
        display: none;
    }
    #login-button{
        display: none;
    }
    .dropdown-icons{
        display: block;
    }
    .logo img{
        width: 15%;
    }
}