#stars-heading{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}
#stars-heading span{
    color: var(--color1);
}
#stars-description{
    font-size: 0.8rem;
    font-weight: 100;
}
#stars{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
#stars-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    height: fit-content;
    min-width: 15rem;
    max-width: 25rem;
    box-shadow: 0 1px 20px 0px var(--black);
    border-radius: 15px;
    margin: 3% 5% 5% 7%;
}
.image-stars{
    display: flex;
    width: 100%;
    background-color: var(--color2);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.image-stars img{
    display: flex;
    width: 40%;
    padding: 0% 7%;
    justify-self: flex-start;
}
.image-stars span{
    justify-content: flex-start;
    align-items: flex-start;
}
.stars-talk{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars-talk p{
    font-size: 1rem;
    align-self: center;
    text-align: start;
    width: 80%;
    padding: 4% 0;
}
.stars-talk p span{
    color: var(--color1);
    font-weight: bold;
}