#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: var(--white);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--black);
}
.mySwiper-stars {
  z-index: -1;
  width: 92%;
  height: 100%;
  box-shadow: 0 0px 0px 0px var(--black);
  margin-top: 0;
  margin-left: 4%;
  padding-bottom: 1%;
}
.mySwiperslide-stars {
  text-align: center;
  background: var(--white);
  display: flex;
  justify-content: center;
}
@media (max-width:860px){
  .mySwiper-stars {
    padding-bottom: 3%;
  }
}
@media (max-width:500px){
  .mySwiper-stars {
    padding-bottom: 5%;
  }
}
