#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-top: -5%;
    box-shadow: 0 1px 25px 0px var(--shadow);
    border-radius: 1rem;
  }
  .swiper-slide {
    text-align: center;
    background: var(--white);
    display: flex;
    justify-content: center;
  }
  @media (max-width:860px){
    .swiper {
      margin-top: -15%;
    }
}
@media (max-width:500px){
  .swiper {
    margin-top: -15%;
  }
}