#test-series-heading p{
    font-size: 2.5rem;
    margin-top: 7%;
    text-align: center;
    font-weight: 600;
}
#test-series-heading span{
    color: var(--color1);
}
#test-series{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.test-series1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: 20%;
    max-width: 30%;
    box-shadow: 0 1px 25px 0px var(--shadow);
    border-radius: 1rem;
    margin: 3% 1rem 0 0;
    padding: 5% 5%;
}
.test-series-logo{
    margin-bottom: 4%;
}
.test-series-name{
    font-size: 1.5rem;
}
.test-series-description{
    font-size: 0.9rem;
}
.test-series-join{
    text-decoration: none;
    color: var(--color1);
    font-size: 1.2rem;
    margin: 5% 0;
}
@media (max-width:860px){
    #test-series-heading p{
    font-size: 2rem;
    }
    #test-series{
        justify-content: space-evenly;
    }
    .test-series1{
        min-width: 10rem;
        max-width: 15rem;
    }
    .test-series-logo img{
        width: 30%;
    }
    .test-series-name{
        font-size: 1.2rem;
    }
    .test-series-description{
        font-size: 0.8rem;
    }
    .test-series-join{
        font-size: 1rem;
    }
}
@media (max-width:500px){
  #test-series-heading p{
    font-size: 1.5rem;
    }
    .test-series-logo img{
        width: 20%;
    }
    .test-series-name{
        font-size: 1.2rem;
    }
    .test-series-description{
        font-size: 0.8rem;
    }
    .test-series-join{
        font-size: 1rem;
    }
}